// Abstracts :: Variables
// --------------------------------------------------

/// Paths
/// -------------------------------------------------


/// Colors
/// -------------------------------------------------
$pink: #fadce0;
$grey: #c3c1cc;
$orange: #f8e0bb;
$brown: #c6b1b2;
$green: #e1f1e9;
$blue: #cbdbe6;

/// Typography
/// -------------------------------------------------


/// Transitions
/// -------------------------------------------------

/// Space
/// -------------------------------------------------
