extends modules/layout/layout.pug
block head
  link(href="css/Linearicons-Free.css" rel="stylesheet")
  link(href="css/main.css" rel="stylesheet")
block content
  .wrapper
    header.brand-header-style-01
      .container
        .header__inner.d-flex.justify-content-between.align-items-center
          .header__logo
            .xs-logo LOGO
          nav.header__navigation
            ul.header__navigation__list.list-unstyled
              li.header__navigation__item
                a.item__link(href="#") Home
              li.header__navigation__item
                a.item__link(href="#") Blog
              li.header__navigation__item
                a.item__link(href="#") Pages
              li.header__navigation__item
                a.item__link(href="#") Shop
              li.header__navigation__item
                a.item__link(href="#") Contact
          nav.header__user
            ul.header__user__menu.list-unstyled
              li.header__user__item
                a.item__link(href="#") Sign in
              li.header__user__item.header__user--cart.lg--up__pdr--0
                a.cart__icon(href="#")
                  .count 1
                  span.lnr.lnr-cart
              li.header__user__item.header__mobile__menu_wrap.md--down__pdr--0
                a.btn__mobile__menu(href="#")
                  span.lnr.lnr-menu
    //- HEADER 02
    header.brand-header-style-02
      .header__top
        .container
          .header__inner__top.d-flex.justify-content-between.align-items-center
            .header__logo__mobile
              .xs-logo LOGO
            nav.header__navigation
              ul.header__navigation__list.list-unstyled
                li.header__navigation__item
                  a.item__link.lg--up__pdl--0(href="#") Home
                li.header__navigation__item
                  a.item__link(href="#") Blog
                li.header__navigation__item
                  a.item__link(href="#") Pages
                li.header__navigation__item
                  a.item__link(href="#") Shop
                li.header__navigation__item
                  a.item__link(href="#") Contact
            nav.header__user
              ul.header__user__menu.list-unstyled
                li.header__user__item
                  a.item__link(href="#") Sign in
                li.header__user__item.header__user--cart.lg--up__pdr--0
                  a.cart__icon(href="#")
                    .count 1
                    span.lnr.lnr-cart
                li.header__user__item.header__mobile__menu_wrap.md--down__pdr--0
                  a.btn__mobile__menu(href="#")
                    span.lnr.lnr-menu
      .header__bottom
        .container
          .header__inner__bottom.d-flex.justify-content-between.align-items-center
            .header__logo__desktop
              .lg-logo LOGO
            a.header__button(href="#")  BUTTON
    //- HEADER 03
    header.brand-header-style-03
      .container
        .header__inner.d-flex.justify-content-between.align-items-center
          .header__logo
            .lg-logo LOGO
          nav.header__navigation
            ul.header__navigation__list.list-unstyled.d-flex.justify-content-center.align-items-center
              li.header__navigation__item
                a.item__link(href="#") Home
              li.header__navigation__item
                a.item__link(href="#") Blog
              li.header__navigation__item
                a.item__link(href="#") Pages
              li.header__navigation__item
                a.item__link(href="#") Shop
              li.header__navigation__item
                a.item__link(href="#") Contact
          a.header__button(href="#")  BUTTON
          .header__user__item.header__mobile__menu_wrap.md--down__pdr--0
            a.btn__mobile__menu(href="#")
              span.lnr.lnr-menu
    //- HEADER 04
    header.brand-header-style-04
      .container
        .header__inner.d-flex.justify-content-between.align-items-center
          .header__logo
            .lg-logo LOGO
          nav.header__navigation
            ul.header__navigation__list.list-unstyled.d-flex.justify-content-center.align-items-center
              li.header__navigation__item
                a.item__link(href="#") Home
              li.header__navigation__item
                a.item__link(href="#") Blog
              li.header__navigation__item
                a.item__link(href="#") Pages
              li.header__navigation__item
                a.item__link(href="#") Shop
              li.header__navigation__item
                a.item__link(href="#") Contact
          nav.header__user
            ul.header__user__menu.list-unstyled
              li.header__user__item.header__user--cart.lg--up__pdr--0
                a.cart__icon(href="#")
                  .count 1
                  span.lnr.lnr-cart
              li.header__user__item.header__mobile__menu_wrap.md--down__pdr--0
                a.btn__mobile__menu(href="#")
                  span.lnr.lnr-menu
    //- HEADER 05
    header.brand-header-style-05
      .container
        .header__inner.d-flex.justify-content-between.align-items-center
          .header__logo
            .lg-logo LOGO
          nav.header__navigation
            ul.header__navigation__list.list-unstyled.d-flex.justify-content-center.align-items-center
              li.header__navigation__item
                a.item__link(href="#") Home
              li.header__navigation__item
                a.item__link(href="#") Blog
              li.header__navigation__item
                a.item__link(href="#") Pages
              li.header__navigation__item
                a.item__link(href="#") Shop
              li.header__navigation__item
                a.item__link(href="#") Contact
          nav.header__social
            ul.header__social__menu.list-unstyled
              li.header__social__item.lg--up__pdr--0
                
          .header__social__item.header__mobile__menu_wrap.md--down__pdr--0
            a.btn__mobile__menu(href="#")
              span.lnr.lnr-menu
block js